
#jumbotron {
    font-family: "Permanent Marker";
    font-size: 90px;
    color: #264a84;
    margin: 0px;
}

#jumbotronDiv {
    background-color: #84f7ef;
    background-image: url("public/images/cryptoBackground.jpeg");
    margin-top: -20px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
}

#jumbotronDiv p {
    font-size: 30px;
    font-family: "Roboto";
    color: #3369bf;
}

#mainPageListGroup {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

#navbar {
    border-radius: 0px;
}

#mainPageListGroup {
    margin-top: 40px;
}

