
<h1>Coins By Market Cap</h1>
<section id="graph"></section>

<script type="text/javascript">

    var xhr = new XMLHttpRequest();

    function makeRequest(){
        xhr.open("GET", "https://api.coinmarketcap.com/v1/ticker/", true);
        xhr.send();
        xhr.onreadystatechange = processRequest;
    }

    function processRequest(){
        console.log("testing, state: ", xhr.readyState)
        if(xhr.readyState == 4 && xhr.status == 200){
            response = JSON.parse(xhr.responseText);
            makeChart();
        }
    }

    function makeChart(){
        var d = 800;
        var color = d3.scale.category10();

        var svg = d3.select("#graph")
                    .append("svg")
                    .attr("width", d)
                    .attr("height", d)

        var bubble = d3.layout.pack()
                        .size([d, d])
                        .value(function(d){ return d.size; })
                        .padding(1.5);

        var processData = function(data){
            var newDataSet = [];

            for(var i = 0; i < 100; i++){
                newDataSet.push({name: response[i].name, className: response[i].symbol, size: Number(response[i].market_cap_usd)})
            }
            return {children: newDataSet};
        }

        var nodes = bubble.nodes(processData(response))
                        .filter(function(d){ return !d.children; });

        var vis = svg.selectAll("g")
                        .data(nodes)
                        .enter()
                        .append("g")
                        .attr("class", "node")
                        .attr("transform", function(d){  return "translate(" + d.x +  "," + d.y + ")"; })

        vis.append("circle")
            .attr("r", function(d){ console.log("DRRR", d.r); return d.r; })
            .attr("fill", function(d, i){
                return color(i)
            })

        vis.append("text")
            .text(function(d){ console.log(d); return d.className})
            .attr("fill", "dark gray")
            .attr("font-size", function(d){
                if(d.size > 1800000000){
                    return 18;
                } else if(d.size > 100000000){
                    return 8;
                } else {
                    return d.size / 6000000
                }})
            .attr("transform", "translate(-10, 0)")
    }

    makeRequest();

</script>
