
<h1>Top 10 Market Caps</h1>

<script type="text/javascript">
    var xhr = new XMLHttpRequest();

    function makeRequest(){
        xhr.open("GET", "https://api.coinmarketcap.com/v1/ticker/", true);
        xhr.send();
        xhr.onreadystatechange = processRequest;
    }

    function processRequest(){
        if(xhr.readyState == 4 && xhr.status == 200){
            dataset = [];
            for(var i = 0; i < 10; i++){
                addingId = JSON.parse(xhr.responseText)[i];
                addingId.id = i;
                dataset.push(addingId);
            }
            makeChart();
        }
    }

    function makeChart(){
        var w = 1200;
        var h = 600;
        var padding = 50;
        var yPadding = 80;

        var val = [];
        dataset.forEach(function(ele){
            val.push(parseInt(ele.market_cap_usd));
        })
        var max = d3.max(val)

        var xAxisNames = []

        dataset.forEach(function(ele){ xAxisNames.push(ele.name); })

        var xScale = d3.scale.ordinal()
                        .domain(d3.range(dataset.length))
                        .rangeRoundBands([padding, w - padding], 0.05)

        var yScale = d3.scale.linear()
                        .domain([0, d3.max(val)])
                        .range([h - yPadding, 0]);

        var yAxis = d3.svg.axis()
                        .scale(yScale)
                        .orient("left")
                        .tickFormat(function(d){
                            if(d > 0){ return d / 1000000000 + " b"; }
                            return "";
                        })

        var xAxis = d3.svg.axis()
                        .scale(xScale)
                        .orient("bottom")
                        .tickFormat(function(d, i){
                            return xAxisNames[i]
                        })

        var svg = d3.select("body")
                    .append("svg")
                    .attr("width", w)
                    .attr("height", h);

        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("x", function(d, i){
                return xScale(i);
            })
            .attr("y", function(d){
                return yScale(d.market_cap_usd);
            })
            .attr("width", xScale.rangeBand())
            .attr("height", function(d){
                return (h - yPadding) - yScale(d.market_cap_usd);
            })

        svg.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(" + padding + ", 0)")
            .call(yAxis);

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0, " + (h - yPadding) + ")")
            .call(xAxis)
            .selectAll("text")
            .attr("y", 15)
            .attr("font-size", 12)
            .attr("x", xScale.rangeBand() / 2)
            .attr("transform", "rotate(45)")
    }

    makeRequest();

</script>